/******************************************************************************
 * Content
 ******************************************************************************/

@use "variables" as v;

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  font-family: v.$font-family-sans-serif;
  /* 默认使用 Light 作为正文 */
  font-weight: 300;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;

    // --- 标题特殊设置 ---
    font-family: v.$headings-font-family;
    font-weight: 400;
    letter-spacing: -0.025em;
    margin-bottom: 0.8em;
  }

  // 让段落之间有呼吸感
  p {
    margin-bottom: 1.5rem;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 57px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: v.$max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
